#content {
	font-family: Lucida Console;
}

h1 {
	text-align: center;
}

.logo {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 20px 30px;
    float: left;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.navigation {
	background-color: SteelBlue;
}

.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
	background-color: SteelBlue;
    color: #fff;
}
.navigation a:hover {
    color: #fff;
}
.container {
    overflow: hidden;
    padding: 20px;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    width: 500px;
    height: 45px;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    border: 0;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}

.footer a {
    color: #454545;
}

#header {
	padding: 0px;
	margin: 0px;
}

div#header.container {
	width: 100%;
}

.user {
    color: #123;
    /*overflow: hidden;*/
    float: right;
    margin-right: 20px;
}

#search-bar {
	padding-top: 30px;
}




